@model IEnumerable<ASP_202002_CarCrud.Models.Car>

@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fénykép
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Url.Action("GetImage", "Home", new {id = item.Id })" height="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Törlés", "Delete", new { id = item.Id })
                @Html.ActionLink("Szerkesztés", "Edit", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
